<div class="content-wrapper view">
  <div class="container-fluid">
    <h2 class="view-title">Dashboard</h2>

    {{i18n}}

    <app-module [wrapperClass]="'col-lg-4 col-md-6 col-sm-12 col-xs-12'" *ngFor="let n of [1,2,3,4,5,6,7,8,9,10,11,12]" [title]="'Module ' + n">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a lectus arcu. Morbi non vestibulum leo. Curabitur facilisis lectus lobortis massa dapibus semper. Sed elementum orci felis, ac maximus massa tincidunt a. In hac habitasse platea dictumst. Ut ligula nulla, tincidunt vitae metus quis, aliquet convallis purus. In tristique magna nec tellus luctus maximus. Aliquam suscipit ultricies dui. Sed rhoncus felis massa, eu faucibus ligula maximus at.

      <!--define footers like this-->
      <div class="module-footer">
        <ul class="utilities list-inline">
          <li><a href="#" tooltip-placement="top" uib-tooltip="Copy"><i class="fa fa-files-o"></i></a></li>
          <li><a href="#" tooltip-placement="top" uib-tooltip="Edit"><i class="fa fa-pencil"></i></a></li>
          <li><a href="#" tooltip-placement="top" uib-tooltip="Favourite"><i class="fa fa-star"></i></a></li>
          <li><a href="#" tooltip-placement="top" uib-tooltip="Archive"><i class="fa fa-archive"></i></a></li>
          <li><a href="#" tooltip-placement="top" uib-tooltip="Delete"><i class="fa fa-trash"></i></a></li>
        </ul>
      </div>
    </app-module>

    <div class="draggable-column col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <app-module [title]="'tst'" [wrapperClass]="'module-draggable'" >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a lectus arcu. Morbi non vestibulum leo. Curabitur facilisis lectus lobortis massa dapibus semper. Sed elementum orci felis, ac maximus massa tincidunt a. In hac habitasse platea dictumst. Ut ligula nulla, tincidunt vitae metus quis, aliquet convallis purus. In tristique magna nec tellus luctus maximus. Aliquam suscipit ultricies dui. Sed rhoncus felis massa, eu faucibus ligula maximus at.
      </app-module>
    </div>

  </div>
</div>

