<span>
	<div class="loader-wrapper loader-wrapper-1" *ngIf="variant == 1">
		<div class="spinner">
			<div class="spinner-container container1">
				<div class="circle1"></div>
				<div class="circle2"></div>
				<div class="circle3"></div>
				<div class="circle4"></div>
			</div>
			<div class="spinner-container container2">
				<div class="circle1"></div>
				<div class="circle2"></div>
				<div class="circle3"></div>
				<div class="circle4"></div>
			</div>
			<div class="spinner-container container3">
				<div class="circle1"></div>
				<div class="circle2"></div>
				<div class="circle3"></div>
				<div class="circle4"></div>
			</div>
		</div>
	</div>
	<div class="loader-wrapper loader-wrapper-2" *ngIf="variant == 2">
		<div class="spinner">
			<div class="dot1"></div>
			<div class="dot2"></div>
		</div>
	</div>
	<div class="loader-wrapper loader-wrapper-3" *ngIf="variant == 3">
		<div class="spinner">
			<div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>
		</div>
	</div>
	<div class="loader-wrapper loader-wrapper-4" *ngIf="variant == 4">
		<div class="spinner"></div>
	</div>
	<div class="loader-wrapper loader-wrapper-5"  *ngIf="variant == 5">
		<div class="spinner">
			<div class="rect1"></div>
			<div class="rect2"></div>
			<div class="rect3"></div>
			<div class="rect4"></div>
			<div class="rect5"></div>
		</div>
	</div>
	<div class="loader-wrapper loader-wrapper-6"  *ngIf="variant == 6">
		<div class="spinner"></div>
	</div>
	<div class="loader-wrapper loader-wrapper-7"  *ngIf="variant == 7">
		<div class="spinner">
			<div class="double-bounce1"></div>
			<div class="double-bounce2"></div>
		</div>
	</div>
	<div class="loader-wrapper loader-wrapper-8"  *ngIf="variant == 8">
		<div class="spinner">
			<div class="cube1"></div>
			<div class="cube2"></div>
		</div>
	</div>
	<div class="loader-default" *ngIf="variant == 9">
		<div class="loader-default-inner">
			<div class="img-container">
				<img src="assets/images/loaders/ajax-loader-1.gif" alt="" />
			</div>
		</div>
	</div>
	<div class="loader-default" *ngIf="variant == 10">
		<div class="loader-default-inner">
			<div class="img-container">
				<img src="assets/images/loaders/ajax-loader-2.gif" alt="" />
			</div>
		</div>
	</div>
	<div class="loader-default" *ngIf="variant == 11">
		<div class="loader-default-inner">
			<div class="img-container">
				<img src="assets/images/loaders/ajax-loader-3.gif" alt="" />
			</div>
		</div>
	</div>
	<div class="loader-default" *ngIf="variant == 12">
		<div class="loader-default-inner">
			<div class="img-container">
				<img src="assets/images/loaders/ajax-loader-4.gif" alt="" />
			</div>
		</div>
	</div>
</span>
