<span class="arrow"></span>
<div class="notification-items no-overflow">
  <div class="item media">
    <div class="media-left profile">
      <img src="assets/images/profiles/profile-8.png" alt="" />
    </div>
    <div class="media-body">
      <a href="#">
        <span class="name">Albert E</span> <span class="action">replied to your comment</span> on "Maecenas tempus adipiscing consectetur adipiscing elit..."
      </a>
    </div>
    <div class="meta">
      2h ago
    </div>
  </div>
  <div class="item media">
    <div class="media-left profile">
      <img src="assets/images/profiles/profile-7.png" alt="" />
    </div>
    <div class="media-body">
      <a href="#">
        <span class="name">Julia A</span> <span class="action">sent you a message</span> "Hey Becky, thanks for doing this natoque penatibus et magnis dis parturient montes..."
      </a>
    </div>
    <div class="meta">
      1d ago
    </div>
  </div>
  <div class="item media">
    <div class="media-left profile">
      <img src="assets/images/profiles/profile-2.png" alt="" />
    </div>
    <div class="media-body">
      <a href="#">
        <span class="name">Rachel W</span> <span class="action">shared a file with you</span> "UX mocks for Nike"
      </a>
    </div>
    <div class="meta">
      3d ago
    </div>
  </div>
</div>
<div class="dropdown-footer">
  <a href="#">View all notifications</a>
</div>
