
  <span class="arrow"></span>
  <div class="message-items no-overflow">
    <div class="item media">
      <div class="media-left profile">
        <img class="profile" src="assets/images/profiles/profile-7.png" alt="" />
      </div>
      <div class="media-body">
        <a href="#">
          <span class="sender display-block">Julia Arnold</span>
          <span class="message-title display-block">Great News</span>
          <span class="excerpt display-block">"Hey Becky, thanks for doing this natoque penatibus et magnis dis parturient montes..."</span>
        </a>
      </div>
      <div class="meta">
        Apr 6
      </div>
    </div>
    <div class="item media">
      <div class="media-left profile">
        <img class="profile" src="assets/images/profiles/profile-1.png" alt="" />
      </div>
      <div class="media-body">
        <a href="#">
          <span class="sender display-block">Ken Davison</span>
          <span class="message-title display-block">RE: Help Needed</span>
          <span class="excerpt display-block">"No problem. I can help with the luctus est eu ullamcorper laoreet..."</span>
        </a>
      </div>
      <div class="meta">
        Apr 2
      </div>
    </div>
    <div class="item media">
      <div class="media-left profile">
        <img class="profile" src="assets/images/profiles/profile-4.png" alt="" />
      </div>
      <div class="media-body">
        <a href="#">
          <span class="sender display-block">Ryan Baker</span>
          <span class="message-title display-block">RE: UX resources for Nike</span>
          <span class="excerpt display-block">"Hi Becky, can you send me the wireframes? I need the finalised version..."</span>
        </a>
      </div>
      <div class="meta">
        Mar 28
      </div>
    </div>
    <div class="item media">
      <div class="media-left profile">
        <img class="profile" src="assets/images/profiles/profile-5.png" alt="" />
      </div>
      <div class="media-body">
        <a href="#">
          <span class="sender display-block">Sarah West</span>
          <span class="message-title display-block">Hello!</span>
          <span class="excerpt display-block">"Hello there, lorem ipsum dolor sit amet, consectetur adipiscing elit duis luctus..."</span>
        </a>
      </div>
      <div class="meta">
        Mar 25
      </div>
    </div>
    <div class="item media">
      <div class="media-left profile">
        <img class="profile" src="assets/images/profiles/profile-6.png" alt="" />
      </div>
      <div class="media-body">
        <a href="#">
          <span class="sender display-block">Carl Wilson</span>
          <span class="message-title display-block">RE: Design Resource</span>
          <span class="excerpt display-block">"Hi, Phasellus cursus libero quis ante commodo lobortis duis ac ante..."</span>
        </a>
      </div>
      <div class="meta">
        Mar 25
      </div>
    </div>
  </div>
  <div class="dropdown-footer">
    <a href="user-messages.html">View all messages</a>
  </div>
