/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

@import "~metismenu/dist/metisMenu.min.css";
@import "~font-awesome/css/font-awesome.min.css";
@import "~elegant-icons/style.css";
@import "~pixeden-stroke-7-icon/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css";
@import "~tether-shepherd/dist/css/shepherd-theme-arrows.css";
@import "~ng2-toastr/bundles/ng2-toastr.min.css";
@import "assets/css/styles.css";


.flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
}
.flag-icon:before {
  content: "\00a0";
}
.flag-icon.flag-icon-squared {
  width: 1em;
}

.flag-icon-fr {
  background-image: url(assets/flags/fr.svg);
}

.flag-icon-es {
  background-image: url(assets/flags/es.svg);
}

.flag-icon-en {
  background-image: url(assets/flags/gb.svg);
}
